extends ../layout/main.pug

include ../blocks/sObject/_sObject.pug

//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sObjectDetails/_sObjectDetails.pug
include ../blocks/sMainInfo/_sMainInfo.pug

block variables
	- let  mainPage= '' 
	- let  bg= '01-3-house.jpg'

block title
	- let  title= 'Пользователи'
	title= title
block pagecontent
	//- +mob-mnu()

	main
		+page-head({
			items: ['Пользователи'],
			t: 'Пользователи',
			sample: false,
			team: 4
		})
		+sMainInfo6()
			+e.selects-wrap
				.row
					+e.col.col-md.col-xl-3
						+b.custom-select-wrap--third-type
							select(class="basic-select basic-select--js")
								option Все пользователи
								-for(let i = 1; i <= 10; i++)
									option!= i
					.col-auto
						+e.reset(href='#') Сбросить
			+mainTable3().--users
				table
					thead
						tr
							th Пользователь
							th Роль
							th Email
					tbody
						tr
							td(colspan='3').add-more
								+e.add-new(href='#')
									+icon('add')
									| Добавить пользователя
						mixin row(title, role, email)
							tr
								td 
									+e.title
										a.h3(href='#')!= title
								td!=role
								td: a(href=`mailto:${email}`)!= email
						+row('Иванов И. C.', 'Администратор', 'ivanov@lpsplus.ru')
						+row('Максимов И. C.', 'Замерщик', 'maksimov@gmail.com')
						+row('Иванов И. C.', 'Администратор', 'ivanov@lpsplus.ru')
						+row('Максимов И. C.', 'Замерщик', 'maksimov@gmail.com')
	//- +bottomControlBar()